Code/User/workspaceStorage
node_modules/
.DS_Store
/TAGS
/tags
/tags.*
.elixir_ls
.prettierrc.js
.vscode
.vimrc.local
yarn-error.log
/.lsp
/.log
/.envrc
.~lock.*
.mise.local.toml
.mise.*.local.toml
mise.local.toml
mise.*.local.toml
/.jj
.env.development
*.dSYM
