let mapleader = " "

Plug 'tpope/vim-surround'
Plug 'tpope/vim-abolish'
Plug 'tpope/vim-commentary'

set ideajoin
set ignorecase
set smartcase

nnoremap <silent> <Leader>wv :vsplit<CR>
nnoremap <silent> <Leader>wd :q<CR>
nnoremap <silent> <Leader>w- :split<CR>
nnoremap <silent> <Leader>wm :only<CR>
nnoremap <silent> <Leader>wl <C-w>l
nnoremap <silent> <Leader>wh <C-w>h
nnoremap <silent> <Leader>wj <C-w>j
nnoremap <silent> <Leader>wk <C-w>k
nmap <silent> <Leader>? <Action>(RecentFiles)
nmap <silent> <F9> <Action>(ActivateProjectToolWindow)
nmap <silent> <F2> <Action>(RenameElement)

if has('mac')
  map <silent> <D-s> <Action>(SaveAll)
  nmap <silent> <D-p> <Action>(GotoFile)
  nmap <silent> <D-S-p> <Action>(SearchEverywhere)
  nmap <silent> <D-w> :q<CR>
  nmap <silent> <D-f> <C-f>
  nmap <silent> <D-b> <C-b>
else
  map <silent> <C-s> <Action>(SaveAll)
  nmap <silent> <C-w> :q<CR>
  nmap <silent> <C-p> <Action>(GotoFile)
  nmap <silent> <C-S-p> <Action>(SearchEverywhere)
endif
