let mapleader = " "

set ideajoin
nnoremap <silent> <Leader>wv :vsplit<CR>
nnoremap <silent> <Leader>wd :q<CR>
nnoremap <silent> <Leader>w- :split<CR>
nnoremap <silent> <Leader>wm :only<CR>
nnoremap <silent> <Leader>wl <C-w>l
nnoremap <silent> <Leader>wh <C-w>h

if has('mac')
  map <silent> <D-s> <Action>(SaveAll)
  nmap <silent> <D-p> <Action>(GotoFile)
  nmap <silent> <D-S-p> <Action>(SearchEverywhere)
  nmap <silent> <D-w> :q<CR>
else
  map <silent> <C-s> <Action>(SaveAll)
  nmap <silent> <C-p> <Action>(GotoFile)
  nmap <silent> <C-S-p> <Action>(SearchEverywhere)
  nmap <silent> <F9> <Action>(ActivateProjectToolWindow)
endif
